.text-block {
    font-size: 14px;
    display: inline-block;
    margin: 3px;
    padding: 10px;
    transition: all .2s ease-in-out;
    text-align: center;
    color: #BDBDBD;
    border-radius: 8px;
    background: #757575;
}
.text-block:hover {
    transform: scale(1.1);
    background: #e0f2f1;
}
#all-elements {
    text-align: center;
}

.sm-txt {
    font-size: 0.8em;
}
